#navbar .logo{
    float:none;
    text-align: center;
}
#navbar ul, #navbar ul li{
    float:none;
}
#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
}
#home-info{
    height:450px
}
#home-info /info image{
    display:none;
}
#home-info .home-content{
    float:none;
    widows: 100%;
}
.box {
    float:none;
    width:100
}
#about-info .info-right, #about-info .info-right{
    float: none;
    width:100%;
}
.l-heading{
    text-align: center;
}